.card-total-kcal {
    min-width: 150px;
    background: white;
    border-right: 0;
    color: #666;
    align-self: stretch;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,.08);
    .legend {
        font-size: 11px;
    }
    .kcal-total {
        font-size: 35px;
        display: block;
        font-weight: bold;
        line-height: 1;
        small {
            font-size: 11px;
            display: block;
        }
    }
}