@import '../../style/mixins';

.baseline {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    @include md-min {
        align-items: stretch;
        flex-direction: row;
    }
    &:after {
        content:"";
        clear: both;
        float: none;
        display: block;
        height: auto;
    }
    .block-1 {
        @include md-min {
            order: 2;
            width: 60%;
            border-right: 1px solid #DDD;
        }
        
    }
    .block-2 {
        @include md-min {
            width: 25%;
            order: 1;
            border-right: 1px solid #DDD;
        }
        
    }
    .block-3 {
        @include md-min {
            order: 2;
            width: 15%;
        }
    }
}
.dish-creation-component {
    border-bottom: 1px solid #DDD;
    background: #f6f6f6;
    .card-total-kcal {
        background: #ffc639;
        color: #FFF;
        border: 1px solid darken(#ffc639, 10);
    }
}