.diary {
    .empty-message {
        border-radius: 2px;
        padding: 20px;
        background: #f5f5f5;
        text-align: center;
        margin: 20px;
        color: #aaa;
        text-shadow: 1px 1px 1px #FFF;
        p {
            margin: 0;
        }
    }

    .diary-card {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        .diary-dish-block {
            width: 100%;
        }
        .at {
            display: flex;
            justify-content: center;
            min-width: 135px;
            text-align: center;
            font-size: 20px;
            color: #666;
            flex-direction: column;
            align-items: center;
        }
    }
}